body {
    background-color: #558303;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {    
    color: #558303;
    font-size: 3.2rem;
    letter-spacing: 3px;
    margin: auto auto;
    text-shadow: green 1px 1px;
}

#mainContainer {
    margin:auto;
    text-align: center;
}

#calculator {
    margin:auto;
    width: 20vw;
    background-color: white;
    padding: .3rem;
}

#display {
    height: 10vh;
    margin: .5vh 1rem ;
    background-color: #558303;
    text-align: end;
    
}

#displayText {
    padding-top: 1;
    margin-right: 1vw;
    margin-top: 0;
    font-size: 4rem;

}

#buttonPanel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "ac ac sign division"
    "seven eight nine times"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal"
    ;
    column-gap: .1rem;
    row-gap: .1rem;
    margin: 1rem;
}

.digit {
    font-size: 2rem;
    width: auto;
    height: 10vh; 
    border: transparent;
    background-color: #558303;
    color: white;  
}

.digit:hover {
    background-color: #6C8F32;
}

.tool {
    background-color: #356211;
}

#ac {
    grid-area: ac;
    background-color: #AA471F;
}

#ac:hover {
    background-color: #C15C37;
}

#zero {
    grid-area: zero;
}

#equals {
    background-color: #C15C37;
}

#equals:hover {
    background-color: #AA471F;
}